registry=https://npm.cloudsmith.io/rini-jain-RNYE/cloudsmith-gha-setup/
//npm.cloudsmith.io/rini-jain-RNYE/cloudsmith-gha-setup/:username=token
//npm.cloudsmith.io/rini-jain-RNYE/cloudsmith-gha-setup/:_password=WU9VUi1FTlRJVExFTUVOVC1UT0tFTg==
